@using Semanticer.Common
@model dynamic

@{
    ViewBag.Title = "Twitter Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Semanticer", "Index", new {area = ""}, new {@class = "navbar-brand ", style = "color: whitesmoke"})
            @Html.ActionLink("Twitter", "Twitter", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div id="navbar" class="collapse navbar-collapse item-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#stats">Statistics</a>
                </li>
                <li>
                    <a href="#tweets">Tweets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container fill">
    <h1 id="stats">Last 24h on Twitter</h1>
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <br/>
    <h3 id="tweets">Last @Constans.MaxOldTweets Tweets</h3><br />
    <table id="twitterTable" class="display">
        <thead>
        <tr>
            <th>Message</th>
            <th>Mark</th>
            <th>Creation Time</th>
            <th>Language</th>
            <th>Author Name</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Message</th>
            <th>Mark Propabily</th>
            <th>Creation Time</th>
            <th>Language</th>
            <th>Author Name</th>
        </tr>
        </tfoot>
    </table>

</div>

@section Scripts {
    <script src="../../scripts/twitter.js"></script>
}