.fill {
    min-height: 100vh;
    height: 100%;
    padding: 85px 15px;
}

.Positive {
    color: #009900
}

.Negative {
    color: #FF3300
}

.Neutral {
    color: #0000FF
}

.item-right {
    float: right
}

.selected-meneu-item {
    color: whitesmoke;
}